@font-face {
    font-family: 'PolySans Trial Bulky';
    src: url('PolySansTrial-Bulky.woff2') format('woff2'),
        url('PolySansTrial-Bulky.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans Italic Trial Median It';
    src: url('PolySansItalicTrial-MedianMonoItalic.woff2') format('woff2'),
        url('PolySansItalicTrial-MedianMonoItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans Italic Trial Neutral It';
    src: url('PolySansItalicTrial-NeutralMonoItalic.woff2') format('woff2'),
        url('PolySansItalicTrial-NeutralMonoItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans Italic Trial Bulky It';
    src: url('PolySansItalicTrial-BulkyMonoItalic.woff2') format('woff2'),
        url('PolySansItalicTrial-BulkyMonoItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans Italic Trial Slim It';
    src: url('PolySansItalicTrial-SlimMonoItalic.woff2') format('woff2'),
        url('PolySansItalicTrial-SlimMonoItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans Trial Median Mono';
    src: url('PolySansTrial-MedianMono.woff2') format('woff2'),
        url('PolySansTrial-MedianMono.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans Trial Neutral Mono';
    src: url('PolySansTrial-NeutralMono.woff2') format('woff2'),
        url('PolySansTrial-NeutralMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans Italic Trial Median It';
    src: url('PolySansItalicTrial-MedianItalic.woff2') format('woff2'),
        url('PolySansItalicTrial-MedianItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans Italic Trial Bulky It';
    src: url('PolySansItalicTrial-BulkyItalic.woff2') format('woff2'),
        url('PolySansItalicTrial-BulkyItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans Italic Trial Neutral It';
    src: url('PolySansItalicTrial-NeutralItalic.woff2') format('woff2'),
        url('PolySansItalicTrial-NeutralItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans Trial Slim Mono';
    src: url('PolySansTrial-SlimMono.woff2') format('woff2'),
        url('PolySansTrial-SlimMono.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans Italic Trial Slim It';
    src: url('PolySansItalicTrial-SlimItalic.woff2') format('woff2'),
        url('PolySansItalicTrial-SlimItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans Trial Bulky Mono';
    src: url('PolySansTrial-BulkyMono.woff2') format('woff2'),
        url('PolySansTrial-BulkyMono.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans Trial Slim';
    src: url('PolySansTrial-Slim.woff2') format('woff2'),
        url('PolySansTrial-Slim.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans Trial Neutral';
    src: url('PolySansTrial-Neutral.woff2') format('woff2'),
        url('PolySansTrial-Neutral.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans Trial Median';
    src: url('PolySansTrial-Median.woff2') format('woff2'),
        url('PolySansTrial-Median.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans Trial Bulky';
    src: url('PolySansTrial-Bulky.woff2') format('woff2'),
        url('PolySansTrial-Bulky.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

